<%- include("partials/header") %>

<style>
   img, video {
      object-fit: cover;
      object-position: center;
      width: 50%;
      height: auto;
   }

   video {
      width: 25%;
      display: block;
      margin: auto;
   }

   a {
      text-decoration: none;
   }

   .ping {
      color: #ffc6e2;
      background-color: rgba(255, 198, 226, 0.2);
      border-radius: 5px;
      padding: 1.5px 3.5px 1.5px 3.5px;
   }
</style>

<%- include("partials/nav") %>

<div class="app-window app-window--pastel fixed-top">
	<div class="action-bar action-bar--pastel">
      <p class="app-window__name app-window__name--pastel"><%= attachments[0].username %></p>
		<button title="Minimize" class="action action--pastel action--minimize">_</button>
		<button title="Close" class="action action--pastel action--close">X</button>
	</div>
   <div class="app-window__body--pastel">
      <section class="about-me about-me--pastel">
         <h5 class="title title--pastel">About me</h5>
         <div class="about-me__body about-me__body--pastel">
            <p>
               ╭ ─⨯─➪ .✧
               <br>
               |・nonbinary (they/them)
               <br>
               |・coms are open!
               <br>
               |・anemo main (genshin)
               <br>
               |・art staff on YYM
               <br>
               |・<a href="https://ashnscar21.carrd.co/">https://ashnscar21.carrd.co/</a>
               <br>
               ╰ ─⨯─✿-❥︎--➪ *.✧
            </p>
            
            <p>
               ╭ ─⨯─➪ .✧
               <br>
               |・nonbinary (they/them)
               <br>
               |・coms are open!
               <br>
               |・anemo main (genshin)
               <br>
               |・art staff on YYM
               <br>
               |・<a href="https://ashnscar21.carrd.co/">https://ashnscar21.carrd.co/</a>
               <br>
               ╰ ─⨯─✿-❥︎--➪ *.✧
            </p>
         </div>
      </section>
   </div>
</div>

<div class="d-flex flex-column text-center justify-content-center">
   <% attachments.forEach(function(object) {%>
      <div class="card app-window app-window--XP position-relative mb-3 w-50 text-center justify-content-center mx-auto">
         <%
            const ping = /<@&933943397440450631>/g;
            const regex = /<:\w+:(\d+)>/g;
            const imgTag = `<img src="https://cdn.discordapp.com/emojis/$1.png" alt="$&" style="width: 2.5%; height: auto;"/>`;
            const spanTag = `<span class="ping">@Art ping~🎨</span>`;
            let updatedDesc = object.desc.replace(regex, imgTag);
            updatedDesc = updatedDesc.replace(/\n/g, '<br>');
            updatedDesc = updatedDesc.replace(ping, spanTag);
            const renderedDesc = ejs.render(updatedDesc);
         %>

         <div class="bg--outer"></div>
         <div class="bg--inner"></div>
         <div class="action-bar action-bar--XP">
            <p class="app-window__name app-window__name--XP"><%= object.date %></p>
            <button title="Minimize" class="action action--XP action--minimize--XP">_</button>
            <button title="Close" class="action action--XP action--close--XP">X</button>
         </div>
         <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Uploaded by <%= object.username %></h6>
            <p class="card-title"><%- renderedDesc %></p>
         </div>
      <% object.attach.forEach(function(attachment) {
         const fileExtension = attachment.split(".").pop(); %>
         <% if (fileExtension === "mp4") { %>
            <video src="<%= attachment %>" controls></video>
         <% } else { %>
            <a href="<%= attachment %>" data-lightbox="<%= object.date %>">
               <img src="<%= attachment %>" alt="<%= object.date %>" />
            </a>
         <% } %>
      <% }); %>
      </div>
   <% }); %> 
</div>

<%- include("partials/footer") %>